@use 'tokens';

// Components
@use 'components/frame';

// Pages
@use 'pages/cut';


// ============================================
// Reset
// ============================================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  /* 모바일에서 화면 회전 금지 */
    overscroll-behavior: contain;
    touch-action: manipulation;
}
a {
    color: inherit;
    text-decoration: underline;
}
li {
    list-style: none;
}

// ============================================
// Layout Components
// ============================================

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);

    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    
    // 스크롤 제거
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

// 전체 컨테이너: 100dvh
.app-container {
    padding: var(--padding-outer);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

// 콘텐츠 영역: frame에서 crop mark 길이만큼 제외
.content-wrapper {
    position: relative;
    width: calc(100% - var(--crop-mark-length) * 2);
    height: calc(100% - var(--crop-mark-length) * 2);
    // width: 100%;
    // height: 100%;
    margin: var(--crop-mark-length);
    // margin: 0;
    padding: var(--padding-inner);
    z-index: 1;
    overflow: hidden;
}

.text {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    text-align: center;
    word-break: keep-all;

    &--large {
        font-size: var(--font-size-large);
    }

    &--notice {
        line-height: var(--line-height-narrow);
        margin: 10px 10px;
    }
}